<html>
    <body>
        <pre>
            Hello, $!{name}!

            value1: $!{value1}
            $!{value2}
            ${value3}

            #foreach ($color in $colors)
                Color $!{foreach.index}/$!{foreach.count}: $!{color}
            #end

            #foreach($kv in $map.entrySet())
                Power3 $!{foreach.index} : $!{kv.key} $!{kv.value}
            #end

        </pre>
    </body>
</html>